@use "@openedx/paragon/styles/css/core/custom-media-breakpoints" as paragonCustomMediaBreakpoints;

.authz-libraries {
  --height-action-divider: 30px;

  hr {
    border-top: var(--pgn-size-border-width) solid var(--pgn-color-border);
    width: 100%;
  }

  @media (--pgn-size-breakpoint-min-width-lg) {
    hr {
      border-right: var(--pgn-size-border-width) solid var(--pgn-color-border);
      height: var(--height-action-divider);
      width: 0;
    }
  }

  .tab-content {
    background-color: var(--pgn-color-light-200);
  }

  .collapsible-card {
    border: none;

    .collapsible-body {
      padding: 0;
    }
  }

  .collapsible-trigger {
    background-color: var(--pgn-color-info-100);
    border: none;
    border-radius: 0 !important;
    color: var(--pgn-color-primary-base);
    padding: 1rem 2rem 1rem 1rem;
  }

  .permission-chip {
    .pgn__chip__label {
      font-weight: var(--pgn-typography-font-weight-base);
    }

    .pgn__icon {
      width: var(--pgn-size-icon-xs);
      height: var(--pgn-size-icon-xs);
    }
  }

  .permission-table {
    td {
      line-height: 24px;
    }
  }
}

.toast-container {
  // Ensure toast appears above modal
  z-index: 1000;
  // Move toast to the right 
  left: auto;
  right: var(--pgn-spacing-toast-container-gutter-lg);
}

// Fix a bug with a toast on edit tags sheet component: can't click on close toast button
// https://github.com/openedx/frontend-app-authoring/issues/1898
#toast-root[data-focus-on-hidden] {
  pointer-events: initial !important;
}
