.authz-libraries {
  .pgn__breadcrumb li:first-child a {
    color: var(--pgn-color-breadcrumb-active);
    text-decoration: none;
  }

  .tab-content {
    background-color: var(--pgn-color-light-200);
  }

  .collapsible-card {
    border: none;

    .collapsible-body {
      padding: 0;
    }
  }

  .collapsible-trigger {
    background-color: var(--pgn-color-info-100);
    border: none;
    border-radius: 0 !important;
    color: var(--pgn-color-primary-base);
    padding: 1rem 2rem 1rem 1rem;
  }

  .permission-chip {
    .pgn__chip__label {
      font-weight: var(--pgn-typography-font-weight-base);
    }

    .pgn__icon {
      width: var(--pgn-size-icon-xs);
      height: var(--pgn-size-icon-xs);
    }
  }

  .permission-table {
    td {
      line-height: 24px;
    }
  }
}

.toast-container {
  // Ensure toast appears above modal
  z-index: 1000;
  // Move toast to the right 
  left: auto;
  right: var(--pgn-spacing-toast-container-gutter-lg);
}
